.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #0f172a;
}

.hero-description {
  font-size: 18px;
  color: #475569;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 60px 20px;
}

.hero-logo {
  width: 350px;      /* small and professional */
  height: auto;
  margin-bottom: 20px;
}



@media (max-width: 600px) {
  .hero-title {
    font-size: 32px;
  }

  .hero-description {
    font-size: 15px;
  }

  .hero-logo {
    width: 60px;
  }
}
